node_modules
.pnpm-store
.git
.gitignore
apps/**/.env*
apps/**/.next
apps/**/build
apps/**/dist
apps/**/node_modules
packages/**/.env*
packages/**/node_modules
packages/**/build
packages/**/dist
coverage

/dist

# Exceptions
!apps/web/.env*
!apps/api/public
!apps/api/public/**/dist