name: msgbits

services:
  backend:
    image: ${DOCKER_REPO}/backend:${GITHUB_SHA}
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      - NODE_ENV=production
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    networks:
      - app-network
    volumes:
      - encrypted_files:/usr/src/app/build/encryptedFiles  
    
  redis:
    image: "redis:7.0-alpine"
    volumes:
      - redis_data:/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  redis_data:
  encrypted_files:
    driver_opts:
      type: none
      device: ${HOME}/msgbits/encryptedFiles
      o: bind