name: msgbits

services:
  redis:
    image: redis:7.0-alpine
    container_name: msgbits-redis
    volumes:
      - redis_data:/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  redis_data:
  encrypted_files:
