name: msgbits

services:
  backend:
    image: ${DOCKER_REPO}/backend:${GITHUB_SHA}
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      - NODE_ENV=production
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    networks:
      - app-network
    
  redis:
    image: ${DOCKER_REPO}/redis:${GITHUB_SHA}
    volumes:
      - redis_data:/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  redis_data: